<form *ngIf="entity" #formControl="ngForm" (ngSubmit)="updateEntity()">
    <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput [(ngModel)]="entity.firstName" name="firstName" type="text">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput [(ngModel)]="entity.lastName" name="lastName" type="text">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Birthday</mat-label>
        <input matInput [(ngModel)]="entity.birthDay" name="birthDay" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Street</mat-label>
        <input matInput [(ngModel)]="entity.address.street" name="street" type="text">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Number</mat-label>
        <input matInput [(ngModel)]="entity.address.number" name="number" type="text">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Postcode</mat-label>
        <input matInput [(ngModel)]="entity.address.postcode" name="postcode" type="text">
    </mat-form-field>
    <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput [(ngModel)]="entity.address.city" name="city" type="text">
    </mat-form-field>

    <mat-form-field>
        <mat-label>List Items</mat-label>
        <mat-chip-grid #chipGrid>
          <mat-chip-row *ngFor="let item of entity.listItems" (removed)="removeListItem(item)">
            {{item}}
            <button type="button" matChipRemove>
              X
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input
            [matChipInputFor]="chipGrid"
            (matChipInputTokenEnd)="addListItem($event.value)"/>
    </mat-form-field>

    <button [disabled]="formControl.invalid" style="margin-bottom: 25px; margin-left: 10px;" type="submit" mat-raised-button>Update</button>
</form>

<h2 style="text-align: center;">Changes</h2>
<div *ngIf="entity" style="margin-left: 5%; margin-right: 5%;">
    <ngx-mat-change-sets [entity]="entity" [changeSetsApiBaseUrl]="testBaseUrl" [config]="config">
    </ngx-mat-change-sets>
</div>